* {
  font-family: "Poppins", sans-serif;
}

#logo > img {
  height: 50px;
  margin-left: 50px;
}

#text_bag {
  background-color: rgb(24, 167, 233);
  color: white;
  padding: 1px;
  font-size: 20px;
}

#text_bag > p {
  margin-left: 50px;
  font-weight: bold;
}

#container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  padding: 50px;
  gap: 40px;
  width: 50%;
}

#allcontent {
  display: flex;
  padding: 20px;
}

#detals {
  padding: 20px;
  text-align: center;
  width: 30%;
  margin-left: 50px;
}

#all_price {
  padding: 20px;
  background-color: rgb(224, 216, 216);
}

#promocode {
  background-color: rgb(224, 216, 216);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

#overview {
  text-align: left;
  font-weight: bold;
}

#subtotal,
#discount,
#GST,
#Delivery_Charges,
#Total {
  display: flex;
  justify-content: space-between;
}

#Total {
  font-weight: bold;
}

#checkout {
  background-color: rgb(255, 21, 150);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: bold;
  color: white;
}

#shop_more {
  border: 2px solid black;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#ad > img {
  width: 100%;
}

#shop_more,
#checkout,
#ad,
#promocode {
  cursor: pointer;
}

#promocode:hover {
  color: rgb(255, 21, 150);
}

#shop_more:hover {
  border-color: rgb(255, 21, 150);
  color: rgb(255, 21, 150);
}

