.background-body{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    position: absolute;
    /* display: none; */
    padding: 10px;
}
.contains-form{
    width:330px;
    height:460;
    background-color: white;
    border-radius:1px;
    text-align: center;
    padding: 20px;
    position: relative;
    font-family: sans-serif;
    margin: auto;
    
}
h1{
    font-size: 30px;
    line-height: 20px;
    word-spacing: 2px;
    margin-bottom: -10px;
   
    margin-bottom: 20px;
}
.previous-page{
    position: absolute;
    top: 0;
    LEFT: 26px;
    color:rgb(255,51,153) ;
    margin-top: 28px;
    cursor: pointer;
    margin-bottom: 30px;
    transform: rotate(45deg);
    font-weight: 900;
}
#passwordPage-phoneImg{
    width: 93px;
    height: 93px;
    margin: auto;
    margin-bottom: 60px;
}

#password-label{
    font-weight: 100; 
    font-size: smaller;
    color: rgb(185, 185, 185);
    margin-bottom: 10px;
    text-align: left;
    margin-top: 8px;
    font-size: 13px;
}
input{
    
    display: block;
    margin: 0 auto;
    width: 97.5%;
    height: 40px;
    border:2px solid rgb(35, 35, 35);
    font-size: 19px;
    margin-right: 2px;
    margin-bottom: 20px;
    outline: none;
    border:2px solid rgb(234,0,32);
    
}

#forgot-password{
    display: flex;
    margin-top: -10px;
    margin-left: 220px;
    font-size: smaller;
    margin-bottom: 30px;
}
.login-button{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    font-size: .88889rem;
    color: white;
    background-color:rgb(255,51,153) ;
    border: 0px;
    cursor: pointer;
}