.container{
    background-color:rgb(238, 235, 235) ;
    text-align:center ;
    font-size: 25px;
    border:none;
   }

.container>h3{
    margin: 0 auto;
    padding: 50px 12px 10px;
    font-size: .88889rem;
    font-family: Avenir-NextBold;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 28px;
}
#email{
    flex-grow: 3;
    /* border: 0; */
    padding: 15px;
    background: #fff;
    border:none;
    width:25%;
    margin-bottom:30px ;

}
#subscribe{
    flex-grow: 3;
    border: 0;
    padding: 15px;
    background: #fff;
}
    


   #showA{
       background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
   }
   #subscribe{
       background-color: #000;
       color:white;
   }

.show{
    text-align:center ;
    color:#656565;
    margin:auto;
    /* border:1px solid green; */
    width:85%;
    margin-bottom: 40px;
}
 
    .show>p{
        font-size: 13px;
        font-family: Avenir-Next,sans-serif;
        letter-spacing: .3px;
        -webkit-font-smoothing: antialiased; 
        line-height: 32px;
        word-wrap: break-word;
        font-weight: 100;
        
         } 

.show2{
    
   text-align:center; 
   font-size:20px;
   color:black;
   width:100%;
   /* border:1px solid blue; */
}
.show2A{


position: relative;
display: inline-block;
padding: 0 5px;
cursor: pointer;
font-size:15px;
line-height: 30px;
color: #000;
text-decoration: none;
/* text-align:justify; */
/* border:1px solid yellow;  */
font-family:12.0001 Avenir-Next,sans-serif;
margin:auto;


}
a:hover {
color:rgb(253, 98, 124);
}
#show2{
  
  width:90%;
  text-align: center;
  margin: auto;

}
.show3{
  display:flex;
  /* border:1px solid green; */
  justify-content: space-between;
  width:50%;
  text-align: center;
  margin:auto;
}

.show3B{
    display:flex;
    /* border:1px solid rgb(31, 32, 31); */
    justify-content:space-between;
    width:25%;
    text-align: center;
    margin:auto;
  }

.show3A{
    text-align: center;
    margin:auto;

}
.shows5{
    /* border:1px solid green; */
background-color: white;
height:30px;
width:40px;
}