/* NAVBAR CSS */



* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

/* Nav bar  */
#navbaruppersection {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    color: rgb(85, 80, 80);
    background-color: rgb(234, 241, 241);

}

#logo {
    height: 45px;
    margin-left: -50px;
}


#top-right-corner {
    display: flex;
    cursor: pointer;

}
#signup{
    text-decoration: none;
    color: #808080; 
    cursor: pointer;
}
#top-right-corner>div>a{
    text-decoration: none;
    color: rgb(85, 80, 80);
}

#centertext {
    cursor: pointer;
    font-size: 14px;
    display: flex;
}

#centertext>span>img {
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
}



#top-right-corner>div {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
}

#top-right-corner>span {
    color: rgb(162, 158, 158);
    font-size: 14px;
}




/* Store locator */
#storelocator {
    margin-left: -90px;
    cursor: pointer;
}

#headingsephora {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 30px;
    margin-bottom: 20px;

}

#headingsephora>div:last-child {
    display: flex;
    cursor: pointer;


}

#headingsephora>div:first-child{
    text-decoration: underline;
}





#headingsephora>div:nth-child(3)>div {
    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
    margin-left: 0px;
    margin-right: 15px;
    color: gray;
}

.icondivider {
    font-size: 20px;
    color: gray;
}

#headingsephora>div:last-child>div {
    margin-left: 20px;
}

#sephora {
    height: 100px;
    width: 100%;
}

/* Top Left search bar */
#searchbar {
    border: none;
    padding: 5px;
    outline: none;
    font-size: 15px;
    cursor: pointer;

}

#searchicon {
    height: 20px;
    cursor: pointer;
    margin-top: 7px;
}



/* Categories */

#categories {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    margin: auto;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -8px;
    /* border: 1px solid black; */
}




#categories>div {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;

}

/*  */


#categories>div:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#product {
    margin: auto;
}


#categories>div:nth-child(1):hover {
    box-shadow: none;
    color: rgb(132, 127, 127);
}



/* Drop down effect in categories */



.drop-down {
    position: relative;
    display: inline-block;

}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    line-height: 20px;
    margin-top: 11px;
    margin-left: -100px;
    min-width: auto;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;



}



.drop-down:hover .dropdown-content {

    display: block;
}


.dropdownflex {
    display: flex;
    width: 100%;
    background-color: white;
    cursor: pointer;
}

.dropdownflex>div {
    /* border: 1px solid black; */
    width: 190px;
    height: auto;
    padding: 20px;
    margin: 10px;
}

.dropdownflex>div>div {
    font-size: 11px;
    color: black;
    font-weight: 100;
}

.dropdownflex>div>h3 {
    font-size: 12px;
}

.dropdownflex>div>h3:hover {
    color: gray;
}

.dropdownflex>div>div:hover {
    color: rgb(223, 214, 214);
}

#productpage {
    color: black;
    text-decoration: none;
}

#productpage:hover{
    color: rgb(223, 214, 214);
}


/* Horizontal Div */
#hrdiv {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: -15px;
    border: 1px solid rgb(235, 229, 229);
    color: rgb(235, 229, 229);
}



/* Navbar end */
















/* Product start Image */

#prodimage {
    width: 100%;
    display: flex;
    cursor: pointer;
}




/* DEAL BOX */
#deal-box {
    display: grid;
    width: 86%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: auto;
    margin-top: 30px;
}

#deal-box>div>img {
    width: 100%;

}

#deal-box>div>img:hover {
    cursor: pointer;
}


/* Sephora Brand of the Week Image */


#sephorabrandoftheweek {
    width: 86%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;

}

/* Get Your Skin Summer Ready */
#getsummersale {
    width: 86%;
    margin: auto;
    cursor: pointer;
    display: block;
}

#facebodymakeupimage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 230px;
    width: 86%;
    gap: 20px;
    margin: auto;
    margin-top: 70px;
    cursor: pointer;
}

#facebodymakeupimage>div>img {
    width: 100%;
    height: 100%;
}


/* just Landed image */
#justlandedimage {
    width: 86%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;

}


/* Natasha denoma products  */
#natasha-denoma {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: auto;
    width: 86%;
    cursor: pointer;
}

#sephoraIndiaVideo {
    height: 85%;
    width: 90%;
}


#natasha-denoma>div:nth-child(1)>div>img {
    width: 100%;

}

#natasha-denoma>div:nth-child(1)>div:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;

}

#natasha-denoma>div:nth-child(1)>div>img+div {
    padding: 20px;
    line-height: 20px;
}

#natasha-denoma>div:nth-child(1)>div>img+div>p {
    font-size: 13px;
    color: rgb(67, 116, 116);
}

#natasha-denoma>div:nth-child(1)>div>img+div>h5>img {
    height: 20px;
    padding-top: 5px;
}

#natasha-denoma>div:nth-child(1)>div>img+div>h5:first-child {
    color: rgb(178, 50, 50);
}

#natasha-denoma>div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 8px;
}

#natasha-denoma>div:nth-child(2)>p {
    font-size: 20px;
}







/* Sephora Beautypass Image */
#sephora-bodypass {
    width: 86%;
    display: flex;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
}



/* It's getting hot in here image */
#getting-hot-image {
    width: 86%;
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}


/* It's getting hot in here product */
#gettinghotproduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 22px;
    width: 86%;
    margin: auto;
    cursor: pointer;

}

.gettinghot {
    width: 100%;
}



/* Everything on  Sale image */

#everythingsaleimage {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#everythingsaleproduct {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    width: 86%;
    margin: auto;
    text-align: center;
    line-height: 22px;
    gap: 20px;
    cursor: pointer;

}


#everythingsaleproduct>div>img {
    width: 100%;
}

#everythingsaleproduct>div:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;

}

#everythingsaleproduct>div>img+div>h5:first-child {
    color: red;
}

#everythingsaleproduct>div>img+div>p {
    padding-right: 32px;
    padding-left: 32px;
    color: rgb(67, 116, 116)
}

#everythingsaleproduct>div>img+div>div {
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    color: rgb(67, 116, 116)
}


#NewOfferImage {
    display: flex;
    justify-content: center;
}

#NewOfferImage>div>img {
    margin-bottom: 2px;
    height: 17px;
    margin-right: 5px;
}






/* My Favourite Brand  */
#myfavouritesbrand {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}


/* My Favourite Brand */
#myfavbrand {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    width: 86%;
    margin: auto;
    gap: 22px;
    margin-bottom: 25px;
    cursor: pointer;
}

#myfavbrand>div>img {
    width: 100%;
}

#myfavbrand>div>img:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* New on the block */
#newontheblock {
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}


/* New on the block product */
#newontheblockproduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 86%;
    gap: 20px;
    margin: auto;
    margin-bottom: 25px;
    cursor: pointer;
}

#newontheblockproduct>div>img {
    width: 100%;
}


/* SephoraDiaries image */
#sephoradiariesimage {
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}


/* Sephora diaries products */
#sephoradiariesproduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 86%;
    margin: auto;
    line-height: 25px;
    margin-bottom: 20px;
    cursor: pointer;
}

#sephoradiariesproduct>div>img {
    width: 100%;
}

#sephoradiariesproduct>div>div {
    font-size: 20px;
}

#sephoradiariesproduct>div>p {
    color: rgb(67, 116, 116)
}

#sephoradiariesproduct>div>div,
p {
    padding-left: 10px;
}



/* Back to Top Button */
#btnbacktotop {
    display: block;
    margin: auto;
    padding: 15px 25px;
    background-color: rgb(165, 223, 51);
    color: black;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: 900;
}

#btnbacktotop:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(221, 221, 74);

}
.backToTop{
    text-decoration: none;
}